@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* For decay factor slider */
.range-slider::-webkit-slider-thumb {
  background: #5b21b6;
  border: none;
  height: 1dvw;
  width: 1dvw;
}

.range-slider::-moz-range-thumb {
  background: #5b21b6;
  border: none;
  height: 1dvw;
  width: 1dvw;
}

/* For search bar label */
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

/* For chord variant overflow in suggestions */
.overflow-left {
  white-space: nowrap;
  direction: rtl;
  unicode-bidi: bidi-override;
}
