@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* For decay factor slider */
/* Webkit browsers (Chrome, Safari, newer versions of Edge) */
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default appearance */
  appearance: none;
  background: #5b21b6;
  border: none;
  height: 2dvh;
  width: 2dvh;
  border-radius: 50%; /* Make it circular */
}

/* Firefox */
.range-slider::-moz-range-thumb {
  background: #5b21b6;
  border: none;
  height: 2dvh;
  width: 2dvh;
  border-radius: 50%;
}

/* IE and Edge (older versions) */
.range-slider::-ms-thumb {
  background: #5b21b6;
  border: none;
  height: 2dvh;
  width: 2dvh;
  border-radius: 50%;
}

/* For search bar label */
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

.preload {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s,
    padding 0s, margin 0s !important;
}

@layer components {
  .custom-scrollbar {
    @apply scrollbar-thin scrollbar-track-zinc-800 scrollbar-track-rounded-full scrollbar-thumb-zinc-700 hover:scrollbar-thumb-zinc-600 active:scrollbar-thumb-zinc-500 scrollbar-thumb-rounded-full;
  }
}
